extends layout

block content
  include nav.jade
  div.container
    div.row
      div.col-md-7
        h2 List of Breweries
        ul.list-group
          for brewery in breweries
            li.list-group-item
              a(href='/breweries/' + brewery._id) #{brewery.name} 
              | - #{brewery.city}, CO
              a.edit(href='/breweries/' + brewery._id + '/edit') edit
      div.col-md-1
      div.col-md-4
        h2 Add a Brewery
        include errors.jade
        form(action='/breweries' method='POST')
          div.form-group
            label(for='name') Name
            input.form-control(type='text' name='name' id='name' value=name)
          div.form-group
            label(for='address') Address Line 1
            input.form-control(type='text' name='address' id='address' value=address)
          div.form-group
            label(for='city') City
            div.input-group(aria-describedby="basic-addon2")
              select.form-control(id='city' name='city')
                option(value='' disabled selected) Select
                each place in locations
                  option(value=place) #{place}
              span.input-group-addon#basic-addon2 CO
          div.form-group
            input.btn.btn-primary(type='submit' value='Add')