extends layout

block content
  div.container
    div.row
      div.col-md-4
        h2=title
        include errors.jade
        
        form(action='/breweries/' + brewery._id + '/update' method='POST')
          div.form-group
            label(for='name') Name
            input.form-control(type='text' name='name' id='name' value=brewery.name)
          div.form-group
            label(for='location') Location
            div.input-group(aria-describedby="basic-addon2")
              select.form-control(id='location' name='location')
                option(value='' disabled selected) Select City
                each city in locations
                  option(value=city selected=(brewery.location=city ? "selected" : undefined)) #{city}
              span.input-group-addon#basic-addon2 CO
          div.form-group
            input.btn.btn-primary(type='submit' value='Edit')
            a.cancel(href='/breweries') cancel
        form(action=href='/breweries/' + brewery._id + '/delete' method='POST')
          input.btn.btn-danger(type='submit' value='Delete')