extends ../layout

block content
  include ../nav.jade
  div.container
    div.row
      div.col-md-4
        h2=title
        include ../errors.jade
        form(action='/breweries/' + brewery._id + '/update' method='POST')
          div.form-group
            label(for='name') Name
            input.form-control(type='text' name='name' id='name' value=brewery.name)
          div.form-group
            label(for='address') Address Line 1
            input.form-control(type='text' name='address' id='address' value=address)
          div.form-group
            label(for='city') City
            div.input-group(aria-describedby="basic-addon2")
              select.form-control(id='city' name='city')
                option(value='' disabled selected) Select
                each place in locations
                  option(value=place selected=(brewery.city== place ? "selected" : undefined)) #{place}
              span.input-group-addon#basic-addon2 CO
          div.form-group
            input.btn.btn-primary(type='submit' value='Edit')
            a.cancel(href='/breweries') cancel
        form(action=href='/breweries/' + brewery._id + '/delete' method='POST')
          input.btn.btn-danger(type='submit' value='Delete')