extends ../layout

block content
  include ../nav.jade
  div.container
    div.row
      div.col-md-6
        h1.inline= beer.name
        a(href='/breweries/' + beer.breweryId + '/beers/' + beer._id + '/edit') edit
        h3= beer.style
        p #{beer.alcohol}% ABV
        p= beer.description
      div.col-md-1
      div.col-md-5
        h3 Where can I find it on tap?
        ul.list-group
          if taps
            for tap in taps
              li.list-group-item
                a(href='/breweries/' + beer.breweryId + '/beers/' + beer._id + '/taps/' + tap._id) #{tap.name}
                form(id='delete' action='/breweries/' + beer.breweryId + '/beers/' + beer._id + '/taps/' + tap._id + '/remove' method='POST')
                  a(href="#" onclick="document.getElementById('delete').submit();") delete
        a(href='/breweries/' + beer.breweryId + '/beers/' + beer._id + '/taps/new') Add Location